h1{
	font-size: 26px;
	font-family: Georgia;
	color: blue;
	text-decoration: overline;
}
h2{
	font-size: 18px;
	font-family: Arial;
	color: red;
	text-decoration: underline;
}
a:link{
	font-size: 16px;
	font-family: Times New Roman;
	text-decoration: none;
	color:black;
}
a:visited{
	font-size: 16px;
	color:red;
	font-family: Times New Roman;
}
table, th, td{
	border: 1px solid black;
}
th{
	text-align: left;
}
tr:nth-child(even) {background-color: #f2f2f2;}
input[type=text] {
    border: none;
    border-bottom: 2px solid black;
}